<div class="container" *ngIf="!isLoading">
    <div class="row">
        <h5>Loading............</h5>
    </div>
</div>

<div class="container" *ngIf="isLoading">
    <div class="row">
        <div class="col-md-6 offset 2">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{selectedUser.avatar_url}}" class="img-thumbnail img-fluid">
                    <hr>
                </div>
            </div>
            <span class="badge badge-primary ">{{selectedUser.followers}} Followers</span>
            <span class="badge badge-secondary">{{selectedUser.following}} Following</span>
            <span class="badge badge-success">{{selectedUser.public_gists}} Public Gists</span>
            <span class="badge badge-info">{{selectedUser.public_repos}} Public Repos</span>
            <hr>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngIf="selectedUser.name">Name: {{selectedUser.name}}</li>
                    <li class="list-group-item" *ngIf="selectedUser.location">Lives in: {{selectedUser.location}}</li>
                    <li class="list-group-item" *ngIf="selectedUser.blog">Blog: {{selectedUser.blog}}</li>
                    <li class="list-group-item" *ngIf="selectedUser.company">Company: {{selectedUser.company}}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <ul class="list-group list-group-flush" *ngFor="let repo of repos">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-9">
                                <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>

                                <small>(Created days ago)</small>
                                <p>{{repo.description}}</p>
                            </div>
                            <div class="col-md-3">
                                <span class="badge badge-primary">{{repo.watchers}} Watcher</span>
                                <span class="badge badge-info">{{repo.forks}} Forks</span>
                                <span class="badge badge-info">{{repo.open_issues}} Open issues</span>
                                <br>
                                <a [routerLink]="['/github',selectedUser.login,repo.name]" class="btn btn-outline-info viewRepo"
                                >View Repo</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>